.body1{
    width: 100vw;
    height: 100vh;
}    
.body1::before{
    content: "";
    background-image: url("../images/carousel_picture1.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
}
.logo{
    padding-top: 5px;
    height:75px;
    width: auto;
    
}
.login-form{
    position: absolute;
    width: 450px;
    height: 350px;
    left: 420px;
    top: 170px;
    padding: 10px 50px 10px 50px;
    background: linear-gradient(270deg, #EDC7AC 0%, rgba(237, 199, 172, 0.51) 93.44%);
    border-radius: 10px;
}

.label{
    font-weight:bold;
    font-size: small;
}
.submit{
    background: #49BABD;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5px 40px 5px 40px;
    border-radius: 15px;
}
.email{
    background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}
#email, #password{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 3px 12px 3px 12px;
    width: 350px;
    border: none;
}
.forget{
    font-size: smaller;
    text-decoration: underline;
    text-align: right;
}
.signup1{
    font-size: small;
    margin-right: 0;
}

.signup2{
    font-size: small;
    text-decoration: underline;
    margin-left: 0;
}
